
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em;
}

.center {
  justify-content: center;
}

.bordered {
  background-color: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.col1 {
  width: 125px;
  max-width: 125px;
  text-align: right;
}

.color {
  margin: 0 20px;
}

p {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 2em;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body > div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.sentence {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
}

#sentenceText {
  font-family: 'Indie Flower', cursive;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 4em;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  line-height: normal;
}